/* html, body {
  margin: 0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height: 100%;
}

html {
  width: 100%;
} */

body {
  
  background-color: rgb(59,	103,	99	);
  color: #61443e;
  font-family: Monospace;
  line-height: 24px;
  min-height: 100%;
}


canvas {
	display: block;
}

a {
  color: #a06851;
}

#landingPage {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* height: 100%;
  width: 100%; */
}

#instructions {
  /* position: relative;
  padding: 40px;
  width: 100%; */
  display: none;
}

#loading {
  /* background-color: #bfd1e5;
  padding: 40px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 40px; */
  display: none;
  /* text-align: center; */
}

#mapContainer {
  display: none;
}

#navMap {
  z-index: 300;
  position: absolute;
  bottom: 80px;
  left: 50px;
  width: 200px;
  height: 200px;
  pointer-events: all;
  border-radius: 8px;
  display: none;
}

#faq {
  display: none;
}

#buttons {
  position: absolute;
  /* width: 100%; */
  right: 20px;
  top: 20px;
  /* width: 200px; */
  font-size: 30px;
}

#buttons a {
  color: #61443e;
}

#canvases {
  display: none;
  /* position: absolute;
  top: 500px; */
}

#mapCover {
  height: 100%;
  width: 100%;
  background-color: blue;
  opacity: .5;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(20, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../images/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  /* height: 100%; */
}