/* html, body {
  margin: 0;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height: 100%;
}

html {
  width: 100%;
} */

body {
  
  background-color: #fff1c2; 
  /* //rgb(59,	103,	99	); */
  color: #61443e;
  font-family: Monospace;
  line-height: 24px;
  min-height: 100%;
}


canvas {
	display: block;
}

a {
  color: #a06851;
}

#landingPage {
}

#instructions {
  display: none;
}

#loading {
  display: none;
}

#mapContainer {
  display: none;
}

#navMap {
  z-index: 300;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 200px;
  height: 200px;
  pointer-events: all;
  border-radius: 8px;
  display: none;
}

#info {
  display: none;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(20, 77, 66, 0.8) 0%, rgba(87, 78, 72, 0.8) 100%), url("../images/bg2.png");
  /* background: linear-gradient(to bottom, rgba(255, 241, 194, 1) 0%, rgba(255, 241, 194, .5) 20%, rgba(20, 77, 66, 0.8) 50%,  rgba(20, 77, 66, 0.8) 100%), url("../images/bg.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  /* height: 100%; */
}

#faqModal {
  display: none;
}